<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySite | {{page_name}}</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="{{logo}}">
</head>
<body class="top">
<img src="{{logo}}" width="50px" height="50px">
<div class="nav">
    <a class="nav-obj{%if page_index == 'index'%}-act {%endif%}" href="{{index}}">Обо мне</a>
    <a class="nav-obj{%if page_index == 'capabilities'%}-act {%endif%}" href="{{capabilities}}">Мои умения</a>
    <a class="nav-obj{%if page_index == 'no_money'%}-act {%endif%}" href="{{no_money}}">У тебя нет денег</a>
    <a class="nav-obj{%if page_index == 'contacts'%}-act {%endif%}" href="{{contacts}}">Контакты</a>
</div>
{% block content %}

{% endblock %}
</body>
</html>