{% extends 'base.html' %}
{% block content %}
<h1>Привет я являюсь разработчиком на языке програмирования Python</h1>
<h2>Если вы заинтересовались в моих услугах то так же можете посмотреть <a class="href" href="{{ capabilities }}">мои умения</a></h2>
<h3>Оплата моей работы договорная, но имеется два способа оплаты:</h3>
<ul class="img">
    <li>Деньгами</li>
    <li><a class="href" href="{{ no_money }}">Едой</a></li>
</ul>
<h3>Для связи со мной перейдите во вкладку <a class="href" href="{{contacts}}">контакты</a></h3>
{% endblock %}