<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Site</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Yes</h1>
    <p>Lorem ipsum <b>dolor</b> <i>sit</i> amet. ＼（〇_ｏ）／</p>
    <p><u>Переходи</u> на <b><i><u>мой</u></i></b> сайт, вирусов нет обещаю</p>
    <a href="https://youtu.be/dQw4w9WgXcQ">Вот ссылка</a>
    <img alt="фотка милого тюленика" height="180" width="360" src="http://klubmama.ru/uploads/posts/2022-08/1660779157_13-klubmama-ru-p-nerpa-na-kamne-podelka-foto-13.jpg">
    <p id="aboba">Я умею:</p><ol>
        <li class="list">Много <span>кушать</span></li>
        <li>Долго спать</li>
        <li>Много <span>кушать</span> x2</li>

    </ol>
    <p>Я не умею:</p><ul>
        <li>Думать</li>
        <li>Долго голодать</li>
        <li>Сами придумайте</li>
    </ul>
    <img class = "hoverimg" width="300px" height="300px" src="\static/image/summer.jpg">
    <p id="dz">Домашнее задание</p>
</body>
</html>