{% extends 'base.html' %}

{% block content %}
            <div class="d-flex flex-column justify-content-center flex-grow-1">
                <h1>Привет!</h1>
                <h1>Меня зовут Матвей</h1>
                <p class="top__text">Добро пожаловать на мою страницу</p>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container">
            <div class="row about d-flex justify-content-center align-items-center">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <img class="w-75" src="/static/pictures/about-photo.png" alt="my photo">
                </div>
                <div class="col-md-5">
                    <h2 class="heading">Еще раз привет!</h2>
                    <p class="text">Я начинающий разработчик на Python и это мой первый сайт. Я живу и учусь в
                        Москве,
                        в свободное время играю в компьютерные игры и гуляю с друзьями.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container why">
        <h2 class="heading text-center mb-3">Почему мне нравится<br>программировать?</h2>
        <div class="row text-center">

            <div class="col-md-4 d-flex flex-column justify-content-end">
                <div class="card">
                    <img src="/static/pictures/blog-1.svg" alt="photo">
                    <div class="card-box">
                        <p class="card-text pl-5 pr-5 mt-3">С помощью программирования я могу создавать полезные сайты и делать мир удобнее.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column justify-content-end">
                <div class="card">
                    <img src="/static/pictures/blog-2.svg" alt="photo">
                    <div class="card-box">
                        <p class="card-text pl-5 pr-5 mt-3">В программировании много интересных задач, никогда не соскучишься!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex flex-column justify-content-end">
                <div class="card">
                    <img src="/static/pictures/blog-3.svg" alt="photo">
                    <div class="card-box">
                        <p class="card-text pl-5 pr-5 mt-3">В программировании ты сразу видишь результат своих усилий.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}